<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SpringMVC</display-name>
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>User</display-name>
		<servlet-name>User</servlet-name>
		<servlet-class>com.inventory.beans.User</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.inventory.beans.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserService</display-name>
		<servlet-name>UserService</servlet-name>
		<servlet-class>com.inventory.controllers.UserService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserController</display-name>
		<servlet-name>UserController</servlet-name>
		<servlet-class>com.inventory.controllers.UserController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InvenDao</display-name>
		<servlet-name>InvenDao</servlet-name>
		<servlet-class>com.inventory.dao.InvenDao</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InvenDaoImpl</display-name>
		<servlet-name>InvenDaoImpl</servlet-name>
		<servlet-class>com.inventory.dao.InvenDaoImpl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InvenServiceImpl</display-name>
		<servlet-name>InvenServiceImpl</servlet-name>
		<servlet-class>com.inventory.service.InvenServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserDao</display-name>
		<servlet-name>UserDao</servlet-name>
		<servlet-class>com.inventory.dao.UserDao</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserDaoImpl</display-name>
		<servlet-name>UserDaoImpl</servlet-name>
		<servlet-class>com.inventory.dao.UserDaoImpl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserServiceImpl</display-name>
		<servlet-name>UserServiceImpl</servlet-name>
		<servlet-class>com.inventory.service.UserServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/User</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserService</servlet-name>
		<url-pattern>/UserService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/UserController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InvenDao</servlet-name>
		<url-pattern>/InvenDao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InvenDaoImpl</servlet-name>
		<url-pattern>/InvenDaoImpl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InvenServiceImpl</servlet-name>
		<url-pattern>/InvenServiceImpl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDao</servlet-name>
		<url-pattern>/UserDao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDaoImpl</servlet-name>
		<url-pattern>/UserDaoImpl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServiceImpl</servlet-name>
		<url-pattern>/UserServiceImpl</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>InvenJPAService</display-name>
		<servlet-name>InvenJPAService</servlet-name>
		<servlet-class>com.inventory.service.InvenJPAService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InvenJPAService</servlet-name>
		<url-pattern>/InvenJPAService</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>InvenDaoJpaImpl</display-name>
		<servlet-name>InvenDaoJpaImpl</servlet-name>
		<servlet-class>com.inventory.daoImpl.InvenDaoJpaImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InvenDaoJpaImpl</servlet-name>
		<url-pattern>/InvenDaoJpaImpl</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserDaoJpaImpl</display-name>
		<servlet-name>UserDaoJpaImpl</servlet-name>
		<servlet-class>com.inventory.daoImpl.UserDaoJpaImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDaoJpaImpl</servlet-name>
		<url-pattern>/UserDaoJpaImpl</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Cities</display-name>
		<servlet-name>Cities</servlet-name>
		<servlet-class>com.inventory.entity.Cities</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cities</servlet-name>
		<url-pattern>/Cities</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>States</display-name>
		<servlet-name>States</servlet-name>
		<servlet-class>com.inventory.entity.States</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>States</servlet-name>
		<url-pattern>/States</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Countries</display-name>
		<servlet-name>Countries</servlet-name>
		<servlet-class>com.inventory.entity.Countries</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Countries</servlet-name>
		<url-pattern>/Countries</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetData</display-name>
		<servlet-name>GetData</servlet-name>
		<servlet-class>com.inventory.relation.GetData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetData</servlet-name>
		<url-pattern>/GetData</url-pattern>
	</servlet-mapping>



	<!-- Rest API -->

	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.inventory.controllers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>

		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

</web-app>